.divek
{
    width: 1880px;
    height: 70px;
    background-color: rgb(162, 41, 243, 0.6);
    z-index: 100;
}

body
{
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    text-shadow: 1px 1px 5px black;
}

.guzior
{
    background-image: url("https://lh3.googleusercontent.com/pw/AM-JKLWO2FeImzV3Uj5M8rmIn_azy7q--44YVe-3qzfuUrZ_cbiyKOr8oFky5uvnCugs4sWLwH-Y6mbAVLoWFPKVdrFSyyDcyh8da2wzynbFW92W8n3e7GHujRmDMvNjbHKCCYuDFRovV7bKwP_hV04FxFU=s571-no?authuser=0");
    background-size: contain;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-style: solid;
    border-radius: 100px 100px 100px 100px;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    text-shadow: 0.5px 0.5px 3px black;
    transition: color 1s, height 1s, width 1s, border-radius 1s, border-width 1s;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2), 0 10px 30px 0 rgba(0, 0, 0, 0.19);
    animation: przesun 1s infinite;
}

@keyframes przesun
{
    0% {border-top-color: rgb(255, 0, 242); border-right-color: rgb(255, 0, 242); border-bottom-color: rgb(119, 0, 255); border-left-color: rgb(119, 0, 255);}
    25% {border-top-color: rgb(119, 0, 255); border-right-color: rgb(255, 0, 242); border-bottom-color: rgb(255, 0, 242); border-left-color: rgb(119, 0, 255);}
    50% {border-top-color: rgb(119, 0, 255); border-right-color: rgb(119, 0, 255); border-bottom-color: rgb(255, 0, 242); border-left-color: rgb(255, 0, 242);}
    75% {border-top-color: rgb(255, 0, 242); border-right-color: rgb(119, 0, 255); border-bottom-color: rgb(119, 0, 255); border-left-color: rgb(255, 0, 242);}
    100% {border-top-color: rgb(255, 0, 242); border-right-color: rgb(255, 0, 242); border-bottom-color: rgb(119, 0, 255); border-left-color: rgb(119, 0, 255);}
}

.xd1
{
    background-color: transparent;
    border-color: rgb(255, 0, 242);
    border-bottom-style: solid;
    -webkit-box-shadow: 0 5px 6px -6px rgb(255, 0, 242);
    -moz-box-shadow: 0 5px 6px -6px rgb(255, 0, 242);
    box-shadow: 0 5px 6px -6px rgb(255, 0, 242);
    color: white;
    font-size: 200%;
    margin-top: 1.6%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    border-style: solid;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-width: 5px;
    transition: color 1s, text-shadow 0.5s;
    text-shadow: 0.5px 0.5px 3px black;
}

.xd1:hover
{
    cursor: pointer;
}

.powitanie
{
    color: white;
    font-size: 160%;
    font-family: Andale Mono, monospace;
    position: absolute;
    margin-top: 20%;
}

.witaj
{
    font-family: cursive; 
    margin-left: 120%; 
    position: absolute; 
    margin-top: -40%; 
    font-size: 400%; 
    transform: translate(-50%, -50%);
    animation: zmien 10s infinite;
    border-style: solid;
    border-right: none;
    border-top: none;
    border-left: none;
    border-width: 6px;
    z-index: 100;
}

@keyframes zmien
{
    0% {color: rgb(255, 0, 0); text-shadow: 0px 0px 20px rgb(255, 0, 0);}
    20% {color: rgb(214, 34, 238); text-shadow: 0px 0px 20px rgb(214, 34, 238);}
    40% {color: rgb(39, 163, 245); text-shadow: 0px 0px 20px rgb(39, 163, 245);}
    60% {color: rgb(46, 241, 105); text-shadow: 0px 0px 20px rgb(46, 241, 105);}
    80% {color: rgb(255, 238, 0); text-shadow: 0px 0px 20px rgb(255, 238, 0);}
    90% {color: rgb(255, 102, 0); text-shadow: 0px 0px 20px rgb(255, 102, 0);}
    100% {color: rgb(255, 0, 0); text-shadow: 0px 0px 20px rgb(255, 0, 0);}
}

.dalejj
{
    background-color: transparent;
    color: rgb(255, 187, 0);
    border-style: none;
    cursor: pointer;
    font-size: 200%;
    font-family: Andale Mono, monospace;
    left: 4.5%;
}

#tekstOMnie
{
    margin-left: 25%; 
    margin-top: 12.5%; 
    color: white; 
    transform: translate(-50%, -50%); 
    position: absolute; font-size: 200%; 
    border-bottom-style: solid; 
    border-width: 4px;
}

#przykladowy
{
    width: 500px;
    height: 400px;
    background-color: red;
    margin-top: 125px;
    position: absolute;
    left: 120px;
    background-image: url("https://lh3.googleusercontent.com/pw/AM-JKLW4FBv8bkhjKXZjXTm-_OOKo37Eiz69mfVT3Qrg4cGwwhwH4HtD1xHL5lG5_oNTJPzQP3IUpt-IEUAMv5sJDh_BGhtt_6gWUyox8l6XrfecS47WcnIOh6o1cRU8cIj4JgF0Ulb_E10J_Xg5flHp2uw=w1486-h661-no?authuser=0");
    background-size: 100%;
    border-style: solid;
    border-width: 3px;
    border-color: white;
    animation: przesun 5s infinite;
}

#napisZdjecia
{
    width: 500px;
    height: 197px;
    background-color: black;
    margin-top: 200px;
    border-top-style: solid;
    border-width: 3px;
    border-color: white;
    text-align: center;
    animation: przesun 5s infinite;
}

#przykladowy1
{
    width: 500px;
    height: 400px;
    background-color: red;
    margin-top: 125px;
    position: absolute;
    left: 120px;
    background-image: url("https://lh3.googleusercontent.com/pw/AM-JKLV5WcA6IFrFLwlgTrRfYdaRbblxQ7y04CuxoUDqtzr0DJgoFHUTb4aDhwX7Ft4HgysFXR1QHddWDz_ieDf-eIgns5c5GgvNWQ61nZVeEVQ0xW1PkMxcOFHJFHbq6rlaSf4Xa52forbixexJQl2Y6V4=w973-h522-no?authuser=0");
    background-size: 100%;
    border-style: solid;
    border-width: 3px;
    border-color: white;
    animation: przesun 5s infinite;
    transition: color 1s, text-shadow 1s;
}

#przykladowy2
{
    width: 500px;
    height: 400px;
    background-color: red;
    margin-top: 125px;
    position: absolute;
    left: 120px;
    background-image: url("https://lh3.googleusercontent.com/pw/AM-JKLWU4EdJPRNp8XvRXPkKh0nxgNXC4qAFQVDTd4p3TEavkWny02GaRp-coH4nXZuwuq3X0RtboQ3fxU7OnL5Do57FBG4ePsWEk9uDtk8WDN7YSTbfxFlLLJ5XPDAEX3cN5OoNEI0aGCaqKuDwj3A0utE=w792-h415-no?authuser=0");
    background-size: 100%;
    border-style: solid;
    border-width: 3px;
    border-color: white;
    animation: przesun 5s infinite;
}

#ppp
{
    color: white;
    top: 65%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 250%;
    font-family: Andale Mono, monospace;
    border-bottom-style: solid; 
    border-width: 4px;
    transition: color 1s, text-shadow 1s;
}

#przykladowy3
{
    width: 500px;
    height: 400px;
    background-color: red;
    margin-top: 575px;
    position: absolute;
    left: 120px;
    background-image: url("https://lh3.googleusercontent.com/pw/AM-JKLWqDSXnZ6VWOKSar69DvE3B37hZm4eLgFHTa0gJpdiQCQu33LILxpl9ySpDMUTE85PK7ZN-_jBkzFQhQUdByJkQLSdyhSceZTO4ijX9x0ClvrgJNJRaLXTPeeBZeet5U9IEkQsjoKTfjTD2aVjHAkk=w455-h304-no?authuser=0");
    background-size: 100%;
    border-style: solid;
    border-width: 3px;
    border-color: white;
    animation: przesun 5s infinite;
}

#przykladowy4
{
    width: 500px;
    height: 400px;
    background-color: red;
    margin-top: 575px;
    position: absolute;
    left: 120px;
    background-image: url("https://lh3.googleusercontent.com/pw/AM-JKLW-OZMQDtrxXTA-9l9Id_Ad1dwstwuW2bml_VAnDYFZmV_9MD3poJ0zjOTfH8dQJDhZ1acD-jT7e0iCLv0h2vAx-8X6fiUxvg4t2184TeemWyz9bkDi7nDpvdgJpGfMIkaEpVJ7Kp7QFwkdbMDlFII=w586-h729-no?authuser=0");
    background-size: 100%;
    border-style: solid;
    border-width: 3px;
    border-color: white;
    animation: przesun 5s infinite;
}

#przykladowy5
{
    width: 500px;
    height: 400px;
    background-color: red;
    margin-top: 575px;
    position: absolute;
    left: 120px;
    background-image: url("https://lh3.googleusercontent.com/pw/AM-JKLUXJe1K-TyCUlhmTtELEmc5TgnrlqzCINEUl5ZEQtTS_SzTtFNM-l7C0J3SqhvRNrWxh_QnVHZwGLkDDr3Rff-qaytZ4ZqsGL2KcGd_wmpDpPYqmCMVa5Leka4tMZAZG9qWDwT6nBWRDIXj1PF8Re8=w989-h878-no?authuser=0");
    background-size: 100%;
    border-style: solid;
    border-width: 3px;
    border-color: white;
    animation: przesun 5s infinite;
}

#przykladowy:hover #ppp, #przykladowy1:hover #ppp, #przykladowy2:hover #ppp, #przykladowy3:hover #ppp, #przykladowy4:hover #ppp, #przykladowy5:hover #ppp
{
    color: rgb(255, 0, 242);
    text-shadow: 0px 0px 20px rgb(255, 0, 242);
}

#git
{
    width: 100px;
    height: 100px;
    border-radius: 15px;
    margin-top: 200px;
    margin-left: 500px;
}

#mail
{
    width: 100px;
    height: 100px;
    border-radius: 15px;
    margin-top: 60px;
    margin-left: 500px;
}
